{% load render_bundle from webpack_loader %} {% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Example</title>
    {% render_bundle 'app' 'css' %}
  </head>
  {% block body %}
  {% include './navbar.html' %}
   {% block data %}
   
   {% endblock %}
    <div id="app"> {% render_bundle 'index' 'js' %}</div>
    {% if settings.DEBUG and settings.WEBPACK_LIVE_SERVER %}
        <script src="{{ settings.WEBPACK_LIVE_SERVER_CONFIG.ADDRESS }}/vendor.bundle.js"></script>
        <script src="{{ settings.WEBPACK_LIVE_SERVER_CONFIG.ADDRESS }}/app.bundle.js"></script>
        <script src="{{ settings.WEBPACK_LIVE_SERVER_CONFIG.ADDRESS }}/index.bundle.js"></script>
    {% else %}
        {% render_bundle 'vendor' 'js' %}
        {% render_bundle 'app' 'js' %}
        {% render_bundle 'index' 'js' %}
    {% endif %}
  {% endblock %}
</html>
