{% extends 'base.html' %}
{% load render_bundle from webpack_loader %} {% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
  <div class="row" id="tables">
    <div class="col-sm mx-5">
     
          <h1>Kierowcy</h1>
          <table class="table css-serial">
            <thead>
              <tr>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Punkty</th>
              </tr>
            </thead>

            <tbody>

              {% for obj in object_list %}
              <tr>
                <td>{{ obj.name }}</td>
                <td>{{ obj.surname}}</td>
                <td>{{ obj.points}}</td>
                
              </tr>
              {% endfor %}

            </tbody>
          </table>       
      </div>
      <div class="col-sm mx-5">
        <!-- <div class="d-flex p-2"></div> -->
      
      
        <h1>Zespoły</h1>
        <table class="table css-serial">
          <thead>
            <tr>
              <th>Nazwa</th>
              <th>Szef zespołu</th>
            </tr>
          </thead>
      
          <tbody>
      
            {% for team in team_list %}
            <tr>
              <td>{{ team.name }}</td>
              <td>{{ team.team_chief}}</td>
            </tr>
            {% endfor %}
      
          </tbody>
        </table>
      </div>

      <!-- <div class="d-flex p-2"> -->

      
        <div class="col-sm">
          <h1>Kalendarz</h1>
          {{ form | crispy }}
          <table class="table css-serial">
            <thead>
              <tr>
                <th>Nazwa</th>
                <th>Data</th>
              </tr>
            </thead>

            <tbody>

              {% for gp in gp_list %}
              
              <tr>
                <td>
                <form action="/race/" method="post">
                  {% csrf_token %}
                  <button type="submit" name="Gp" value= '{{ gp.full_name }}' class="btn-link">{{ gp.full_name }}</button>
                </form>
                </td>
                
                <td>{{ gp.race }}</td>
              </tr>
              {% endfor %}

            </tbody>
          </table>
        </div>
      
      <!-- </div> -->
    </div>
  </div>


  {% endblock %}