{% load staticfiles %}

<nav class="navbar navbar-expand-lg" id="my-navbar">

  <a class="navbar-brand" href="/">
    <img src="{% static "img/log3.jpg" %}" alt="My image">
  </a>

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav" id="center">
    
      <li class="nav-item active">
        <a class="nav-link" href="/"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
     
 
<li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Klasyfikacja
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/classification">Kierowców</a>
          <a class="dropdown-item" href="/team_classification">Zespołów</a>
      </li>




        <li class="nav-item">
        <a class="nav-link" href="/results">Wyniki</a>
      </li>

      {% if user.is_authenticated %}
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Typowanie
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/types">Typuj wyścig</a>
          <a class="dropdown-item" href="/ranking">Zobacz ranking</a>
      </li>
  
 

      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="/register">Rejestracja</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">Logowanie</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="/contact">Kontakt</a>
      </li>
      {% endif %}
    </ul>
    
    <form class="form-inline my-2 my-lg-0" id="logged">
      {% if user.is_authenticated %}
     <li class="nav-item dropdown">
     <span> Witaj użytkowniku: </span> <br>
        <a
          class="nav-link dropdown-toggle"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
         <b> {{ user }} <b>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/profile">Ustawienia konta</a>
          <a class="dropdown-item" href="/types_history">Historia typów</a>
          <a class="dropdown-item" href="/logout">Wyloguj</a>
      </li>
   
  
      {% endif %}
    </form>
  </div>
</nav>
