{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row">  
<div class="mx-auto my-5 col-sm-3 pxy-5">
<div class="row justify-content-md-center">
    <div class="col-sm">
      <div class="content-section">
      <div class="media">
        <div class="media-body">
        </div>
      </div>
      <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">Profile Info</legend>
              {{ user_update|crispy }}
          </fieldset>
          <div class="form-group">
              <button class="btn btn-danger" type="submit">Aktualizuj</button>
          </div>
      </form>
    </div>
    </div>
  </div>  
  </div>
  </div>
{% endblock content %}