{% extends 'base.html' %} {% load render_bundle from webpack_loader %} {% load
staticfiles %} {% load crispy_forms_tags %} {% block content %}

<div class="container">
  <div class="d-flex justify-content-center">
    <h1>Typowanie</h1>
  </div>
  <div class="d-flex justify-content-center">
    <div class="col-sm">
      <h1>Wyniki</h1>
      {{ form | crispy }}
      
        
          <script>
            var position = 1;
            var rows = [];
          </script>

          {% for ranking in rankings %}        
          <script>
            rows.push({
              id: position,
              username: "{{ ranking.username }}",
              points: "{{ ranking.points }}",
            });
            position += 1;
          </script>
          {% endfor %}
      
      <div id="rank">{% render_bundle 'rindex' 'js' %}</div>
      <script src="{{ settings.WEBPACK_LIVE_SERVER_CONFIG.ADDRESS }}/rindex.bundle.js"></script>
    </div>

    {{ next_race }}
  </div>
</div>

{% endblock %}
