{% extends 'base.html' %} {% load render_bundle from webpack_loader %} {% load
staticfiles %} {% load crispy_forms_tags %} {% block content %}

<div class="container">
<div class="d-flex justify-content-center">
            <div class="row mx-auto">
                <div class="col-md-8">
<div class="d-flex justify-content-center">

      <h1 class=my-5>Wyniki</h1>
      </div>
      {{ form | crispy }}
      
        
          <script>
            var position = 1;
            var rows = [];
          </script>

          {% for ranking in rankings %}        
          <script>
            rows.push({
              id: position,
              username: "{{ ranking.username }}",
              points: "{{ ranking.points }}",
            });
            position += 1;
          </script>
          {% endfor %}
      
      <div id="rank">{% render_bundle 'rindex' 'js' %}</div>
      <script src="{{ settings.WEBPACK_LIVE_SERVER_CONFIG.ADDRESS }}/rindex.bundle.js"></script>
    </div>

    {{ next_race }}
  </div>
</div>
  </div>
</div>

</div>


{% endblock %}
