@import "variables";
@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

/* pasek nawigacyjny */
body * {
  font-family: "Lato", sans-serif;
}
#my-navbar {
  height: 120px;
  background-color: #e10600;
  box-shadow: 0 6px 9px rgba(0, 0, 0, 0.438);
}
#my-navbar *:not(.dropdown-item) {
  color: white;
  font-family: "Lato", sans-serif;
}
.navbar-brand img {
  height: 120px;
}
@include media-breakpoint-up(lg) {
  #center {
    position: absolute;
    left: 35%;
    top: 30%;
    font-size: 20px;
  }
  #logged {
    position: absolute;
    right: 3%;
    top: 24%;
    font-size: 20px;
    list-style: none;
  }
}
.dropdown-item:hover {
  background-color: red;
  color: white;
}
.btn-danger {
  background-color: #e10600 !important;
}
/* tabelki na home*/

#tables {
  width: 100rem;
  margin-left: -20rem;
  white-space: nowrap;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (max-width: 1200px) {
  #tables {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@include media-breakpoint-down(lg) {
  #tables {
    margin-left: 1px;
  }
}
#center > li.nav-item.dropdown.show > div {
  color: black;
}

body {
  background-color: rgba(182, 43, 43, 0.075);
}
.imageb {
  background-image: url(image.jpg);
  background-repeat: no-repeat;

  height: 400px;
  width: 100%;
}
#timer {
  position: absolute;
  right: 1%;
  top: 20%;
}
#race {
  font-size: 24px;
}

.table-bordered td,
.table-bordered th {
  border-color: black !important;
}

#sticky-footer {
  background-color: #e10600;
  margin-top: 15%;
  color: white;
  font-size: 24px;
}

#race_table {

  font-size: 21px;
  margin-bottom: 50px !important;

}
#gp_header {
margin-top: -15rem;
}

#gp-table {
  font-weight: 100 !important;
  font-size: 16px !important;
  

}
// .card {
//   margin-top: -12rem;
//   margin-left: 19rem;
//   width: 915px;
// }
.card-body > .table th {
border-color: black;

}
 


#submitbutton 
{
  position: absolute;
  top: 70%;
  right: 47%;
  z-index: 20000;

}
body > div.container > div:nth-child(2) > form > div > div:nth-child(1) > select {
  width: 500px !important;
  height: auto;
  font-size: 20px;
  background-color: #e107001c;
}
body > b > b > div > div:nth-child(2) > form > div > div:nth-child(1) > select {
  width: 500px !important;
  height: auto;
  font-size: 20px;
  background-color: #e107001c;

}

#mydiv > select {
  width: 500px;
  height: auto;
  font-size:20px;
  background-color: #e107001c;

}
.table {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.438);
}

.MuiDataGrid-root    {
  font-size: 18px;
  color: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.438);
}
  
.MuiDataGrid-colCellTitle {
  color: #e10600;
  font-weight: 700;
}